<footer class="footer">

  <div class="box-container footer-nav">

    <div class="ico-arrow"><a href="#header"><img src="./assets/images/ico-arrow.svg" /></a></div>
    <nav class=" nav-links">
      <ul class="nav-list-1">
        <li> <a href="https://adalab.es/" class="link-articles" target="_blank">articles </a></li>
        <li><a href="https://adalab.es/" class="link-books" target="_blank">books</a></li>
        <li> <a href="https://adalab.es/" class="link-events" target="_blank">events</a></li>
        <li><a href="https://adalab.es/" class="link-reasons" target="_blank">reasons</a></li>
        <li> <a href="https://adalab.es/" class="link-tips" target="_blank">Tips </a></li>
      </ul>
      <ul class="nav-list-2">
        <li>
          <a href="https://adalab.es/" class="link-twiter" target="_blank">twiter </a>
        </li>
        <li>
          <a href="https://adalab.es/" class="link-instagram" target="_blank">instagram </a>
        </li>
        <li> <a href="https://adalab.es/" class="link-mastodon-social" target="_blank">mastodon.social </a>
        </li>
      </ul>
    </nav>
    <span class="copy">&copy2021</span>
    <span class="we">we <img class="love" src="./assets/images/heart.png" alt="love" />components</span>

  </div>
</footer>