<section class="section-1">
    <div class="box-container">
        <article class="Window-article">
            <h4 class="win-art-subtitle">Insomnia Tips</h4>
            <h3 class="win-art-title">Looking through a window</h3>

            <p class="p-article">Donec accumsan, nulla ut volutpat pottitor, quam odio tempus felis, al luctus ex
                diam
                nec lectus. Vivamus
                semper sodales rutrum.</p>
            <div class="botton-go">
                <a href="https://adalab.es/" class="go" target="_blank">go</a>
            </div>
        </article>
    </div>
</section>