// fonts
$font-main: "Roboto", sans-serif;
$secondary-font: "Roboto + Slab";

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
$font-color: #ffffff;
$links-color: #f26002;
$background-color-dark: #304268;
$background-color-light: #8ccbea;
$background-color-medium: #eff9ff;
$menu-color: #0271bc;
$text-second-color: #4a4a4a;
