* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px; }

.section-2 {
  background-color: #eff9ff;
  font-family: "Roboto", sans-serif; }

.reasons {
  height: 624px;
  text-align: center;
  font-size: 20px; }
  @media all and (min-width: 768px) {
    .reasons {
      margin: 0px 39px 0 39px;
      height: 397px; } }
  @media all and (min-width: 1200px) {
    .reasons {
      margin: 0px 85px 0 85px;
      height: 427px; } }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  @media all and (min-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100px 197px 100px; } }

.reasons-title {
  margin-top: 30px;
  font-size: 28px;
  text-transform: capitalize;
  font-family: "Roboto + Slab"; }
  @media all and (min-width: 768px) {
    .reasons-title {
      grid-column: span 3;
      font-size: 30px; } }
  @media all and (min-width: 1200px) {
    .reasons-title {
      font-size: 36px;
      margin-top: 60px; } }

.reasons-article {
  margin: 0 auto;
  margin-bottom: 65px;
  width: 184px; }
  @media all and (min-width: 768px) {
    .reasons-article {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 80%;
      font-size: 20px;
      line-height: 1.5; } }
  @media all and (min-width: 768px) {
    .reasons-article {
      margin-top: 55px; } }

.rt {
  font-weight: 800;
  font-family: "Roboto + Slab";
  font-weight: bold; }
  @media all and (min-width: 768px) {
    .rt {
      font-size: 26px; } }

.more-reasons-botton {
  width: 184px;
  height: 45px;
  margin: 0 auto;
  background-color: #f26002;
  border-radius: 22.5px;
  line-height: 2.8;
  transition: transform 3s color 2s; }
  @media all and (min-width: 768px) {
    .more-reasons-botton {
      grid-column: span 3;
      width: 210px; } }
  @media all and (min-width: 768px) {
    .more-reasons-botton {
      width: 254px; } }

.more-reasons-botton:hover {
  cursor: pointer;
  background-color: #eff9ff;
  transform: scale(1.5);
  border: solid 3px #f26002;
  line-height: 2.5; }

.more-reasons-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  transition: transform 5s color 2s; }

.more-reasons-link:hover {
  color: #f26002; }

.box-container {
  margin: 0 15px; }

.header {
  background: url(../images/cover.jpg);
  height: 800px;
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff; }
  @media all and (min-width: 768px) {
    .header {
      height: 768px; } }

.menu {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  text-align: center;
  line-height: 3;
  position: fixed;
  top: 0%;
  left: 0%; }

.header-title {
  width: 290px;
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
  line-height: 1.31;
  font-family: "Roboto + Slab";
  font-weight: 200;
  margin: 400px 14px 0 14px; }
  @media all and (min-width: 768px) {
    .header-title {
      width: 690px;
      font-size: 80px;
      font-weight: bold;
      margin-top: 330px; } }
  @media all and (min-width: 1280px) {
    .header-title {
      font-size: 100px; } }

.header-subtitle {
  text-align: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }
  @media all and (min-width: 768px) {
    .header-subtitle {
      font-size: 24px; } }

.scroll-down {
  width: 55px;
  height: 55px;
  margin-top: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 4; }

.section-1 {
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif; }
  @media all and (min-width: 768px) {
    .section-1 {
      margin: 0px 39px 0 39px;
      height: 329.6px; } }
  @media all and (min-width: 1200px) {
    .section-1 {
      margin: 60px 275px;
      height: 300px; } }

.win-art-subtitle {
  margin-top: 30px;
  font-size: 14px;
  color: #8ccbea; }
  @media all and (min-width: 1200px) {
    .win-art-subtitle {
      font-size: 16px; } }

.win-art-title {
  font-family: "Roboto + Slab";
  font-size: 30px;
  text-transform: capitalize; }
  @media all and (min-width: 768px) {
    .win-art-title {
      font-size: 32px; } }

.p-article {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.67;
  color: #4a4a4a; }
  @media all and (min-width: 768px) {
    .p-article {
      font-size: 20px; } }

.botton-go {
  height: 45px;
  width: 76px;
  margin-top: 30px;
  text-align: center;
  line-height: 2;
  border: solid 3px #f26002;
  border-radius: 30%;
  transition: transform 3s color 2s; }
  @media all and (min-width: 768px) {
    .botton-go {
      width: 91px; } }
  @media all and (min-width: 1200px) {
    .botton-go {
      width: 160px; } }

.botton-go:hover {
  cursor: pointer;
  transform: scale(2);
  margin-left: 50px;
  border: solid 3px #eff9ff; }

.go {
  color: #f26002;
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none; }

.footer {
  height: 464px;
  background-color: #304268;
  color: #ffffff; }
  @media all and (min-width: 768px) {
    .footer {
      height: 240px; } }

.ico-arrow {
  background-color: #ffffff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 4;
  position: absolute;
  transform: translateY(-25px);
  -webkit-animation: 4s Slidein infinite alternate;
  animation: 4s Slidein infinite alternate; }
  @media all and (min-width: 768px) {
    .ico-arrow {
      position: absolute;
      margin-left: -220px;
      transform: translate(0, -100px);
      -webkit-animation: 8s Slidein infinite alternate;
      animation: 8s Slidein infinite alternate; } }

.ico-arrow:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-align: center;
  line-height: 1.88; }
  @media all and (min-width: 768px) {
    .footer-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 250px; } }

@media all and (min-width: 768px) {
  .nav-links {
    margin-left: -80px;
    display: flex;
    flex-direction: row;
    align-items: center; } }

.nav-list-1 {
  margin-top: 60px;
  list-style: none;
  text-transform: uppercase; }
  @media all and (min-width: 768px) {
    .nav-list-1 {
      margin-top: 50px;
      text-align: justify; } }

.nav-list-2 {
  margin-top: 30px;
  list-style: none;
  text-transform: uppercase; }
  @media all and (min-width: 768px) {
    .nav-list-2 {
      margin-top: -20px;
      margin-left: 150px;
      text-align: justify; } }

.copy {
  margin-top: 30px;
  font-size: 14px;
  line-height: 2.14; }
  @media all and (min-width: 768px) {
    .copy {
      position: absolute;
      transform: translate(-420px, -50px); } }

.we {
  font-size: 14px; }
  @media all and (min-width: 768px) {
    .we {
      position: absolute;
      transform: translate(-384px, -9.6px); } }

.love {
  height: 12px; }

.link-articles:link,
.link-articles:visited,
.link-articles:active {
  text-decoration: none;
  color: #ffffff; }

.link-articles:hover {
  color: #f26002; }

.link-books:link,
.link-books:visited,
.link-books:active {
  text-decoration: none;
  color: #ffffff; }

.link-books:hover {
  color: #f26002; }

.link-events:link,
.link-events:visited,
.link-events:active {
  text-decoration: none;
  color: #ffffff; }

.link-events:hover {
  color: #f26002; }

.link-reasons:link,
.link-reasons:visited,
.link-reasons:active {
  text-decoration: none;
  color: #ffffff; }

.link-reasons:hover {
  color: #f26002; }

.link-tips:link,
.link-tips:visited,
.link-tips:active {
  text-decoration: none;
  color: #ffffff; }

.link-tips:hover {
  color: #f26002; }

.link-twiter:link,
.link-twiter:visited,
.link-twiter:active {
  text-decoration: none;
  color: #ffffff; }

.link-twiter:hover {
  color: #f26002; }

.link-instagram:link,
.link-instagram:visited,
.link-instagram:active {
  text-decoration: none;
  color: #ffffff; }

.link-instagram:hover {
  color: #f26002; }

.link-mastodon-social:link,
.link-mastodon-social:visited,
.link-mastodon-social:active {
  text-decoration: none;
  color: #ffffff; }

.link-mastodon-social:hover {
  color: #f26002; }

@-webkit-keyframes Slidein {
  from {
    margin-left: 40%; }
  50% {
    margin-left: 0%; }
  to {
    margin-right: 80%; } }

@keyframes Slidein {
  from {
    margin-left: 40%; }
  50% {
    margin-left: 0%; }
  to {
    margin-right: 80%; } }

/*# sourceMappingURL=main.css.map */
