.section-1 {
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $font-main;
  @media all and(min-width:768px) {
    margin: 0px 39px 0 39px;
    height: 329.6px;
  }
  @media all and(min-width:1200px) {
    margin: 60px 275px;
    height: 300px;
  }
}
.win-art-subtitle {
  margin-top: 30px;
  font-size: 14px;
  color: $background-color-light;
  @media all and(min-width:1200px) {
    font-size: 16px;
  }
}
.win-art-title {
  font-family: $secondary-font;
  font-size: 30px;
  text-transform: capitalize;
  @media all and(min-width:768px) {
    font-size: 32px;
  }
}
.p-article {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.67;
  color: $text-second-color;
  @media all and(min-width:768px) {
    font-size: 20px;
  }
}
.botton-go {
  height: 45px;
  width: 76px;
  margin-top: 30px;
  text-align: center;
  line-height: 2;
  border: solid 3px $links-color;
  border-radius: 30%;
  transition: transform 3s color 2s;
  @media all and(min-width:768px) {
    width: 91px;
  }
  @media all and(min-width:1200px) {
    width: 160px;
  }
}
.botton-go:hover {
  cursor: pointer;
  transform: scale(2);
  margin-left: 50px;
  border: solid 3px $background-color-medium;
}
.go {
  color: $links-color;
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none;
}
